@import 'vars';

*,*::before,*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  font-family: sans-serif;
}
ul, li, {
  padding: 0;
  margin: 0;
}
a,
button,
.button {
  color: var(--button-color);
  transition: var(--transition);
  background: transparent;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  border: none;
  text-decoration: none;

  &:hover:not([disabled]):not(:active) {
    color: var(--accent);
  }

  &.border {
    border: 2px solid var(--accent);
    border-radius: 10px;
    padding: 8px 18px;

    &:hover:not([disabled]):not(:active) {
      background: var(--accent);
      color: var(--light);
    }
  }

  &.no-border {

  }

}

.container {
  max-width: 1880px;
  padding: 0 40px;
  margin: 0 auto;
}

